@import "normalize";
@import "formalize";
@import "variables";
@import "header";
@import "content";
body{
  background-color: #f0f0f0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
a,
p {
  font-size: $my-font;
}
a:hover, i:hover {
  border-bottom: .5px solid #c0c0c0;
  transition: all .25s;
}
img{
  cursor: pointer;
}
button{
  cursor: pointer;
}
button:hover{
  border: 1.25px solid rgba(27.5, 30, 32.5, .25);
  transition: all .25s;
}